.contact-home{
    height: 80vh;
    background-image: url('../../../assets/images/contact-home.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0px 100px;
}

.relative1{
    font-size: 2em;
    color: white;
}
.relative2{
    font-size: 1.5em;
    color: white;
}
@media only screen and (max-width: 750px){
    .contact-home{
        height: 50vh;
        background-image: url('../../../assets/images/contact-home.png');
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        padding: 0px 100px;
    }
    .contact-home{
        padding: 10px;
    }
    .relative1{
        font-size: 1em;
        color: white;
    }
    .relative2{
        font-size: .8em;
        color: white;
    }
}
@media only screen and (max-width: 500px){
    .contact-home{
        height: 30vh;
        background-image: url('../../../assets/images/contact-home.png');
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        padding: 10px;
    }
}