
.servicesHeading span{
  border-bottom: 2px solid #FB9506;
}
.servicesHeading{
  text-align: center;
}

.card{
  width: 250px;
}
.cardimg{
  width: 100px;
}

@media only screen and (max-width: 750px){
  .card{
    width: 200px;
    font-size: .6em;
  }
  .cardimg{
    width: 80px;
  }
}
@media only screen and (max-width: 500px){
  .card{
    width: 150px;
    font-size: .6em;
  }
}