.aboutcompany {
    display: grid;
    grid-template-columns: 6fr 4fr;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.smcontainer{
    display: none;
}

.companyimg {
    width: 100%;
}

/* Headings */
h2 {
    font-size: 2rem;
    color: #333;
}

/* Text styles */
.aboutcompany div {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
}

/* Image styles */
.aboutcompany img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .aboutcompany{
        grid-template-columns: 7fr 5fr;

    }
    .aboutcompany div {
        font-size: 0.8em;
    }
    .container{
        display: none;
    }
    .smcontainer{
        display: block;
    }
    .aboutcompany{
        padding: 0px;
    }
}

@media (max-width: 480px) {
    .aboutcompany div {
        font-size: 0.6em;
    }
    .container{
        display: none;
    }
    .aboutcompany{
        padding: 0px;
    }
}