.main-img-con{
    width: 100vw;
    height: 80vh;
    background-image: url('../../assets/images/main-img.png');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    padding: 0px 100px;
    align-items: center;
}
.home-relative1{
    font-size: 2em;
    color: white;
}
.home-relative2{
    font-size: 1.5em;
    color: white;
}

@media only screen and (max-width: 750px){
    .main-img-con{
        width: 100vw;
        height: 50vh;
        background-image: url('../../assets/images/main-img.png');
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex; 
        padding: 0px 100px;
        align-items: center;
    }
    .home-relative1{
        font-size: 1em;
    }
    .home-relative2{
        font-size: .8em;
    }
}

@media only screen and (max-width: 500px){
    .main-img-con{
        width: 100vw;
        height: 30vh;
        background-image: url('../../assets/images/main-img.png');
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex; 
        padding: 10px;
        align-items: center;
    }
    .home-relative1{
        font-size: .9em;
    }
    .home-relative2{
        font-size: .6em;
    }
}
