.row{
    height: 100vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.form-group input{
    width:15rem ;
    height: 2rem;
}
button{
    width: 10rem;
    height: 2rem;
}
button:hover{
    cursor: pointer;
}
