.footer-main{
    /* border: 1px solid black; */
    height: 15rem;
    display:grid;
    grid-template-columns: 50% 50%;
    background-color: #3C5AC5;
    color: white;

}
.footer-sub{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-sub2{
    /* border: 1px solid black; */
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.footer-sub p{
    font-family: "Arima", system-ui;
    font-size: 24px;
    font-weight: 400;
    line-height: 39.19px;
    letter-spacing: 0.05em;
    text-align: left;
}
.getintouch{
    font-family: Arima;
font-size: 36px;
font-weight: 400;
line-height: 36.79px;
text-align: left;
margin: 0px;

}
.call-mail{
    /* border: 1px solid black; */
    display: flex;
    gap: 2rem;
    margin: 0px;
    align-items: center;
}
.call-mail img{
    width: 2rem;
    height: 2rem;
}
.call-mail p{
    font-family: Arima;
    font-size: 24px;
    font-weight: 400;
    line-height: 34.19px;
    text-align: left;
    margin: 0px;

}
.s-icons{
    margin-top:0.5rem ;
    display: flex;
    justify-content: space-evenly;
}