.footer-main{
    display: flex;
    justify-content: space-evenly;
    background-color: #000000;
    color: white;
    padding: 45px 0px;
}
li{
    font-size: 22px;
}
.socialmedia{
    font-size: 30px;
    margin: 10px 0px;
}
.showonmobile{
    display: none;
}

@media (max-width: 750px){
    .bi-telephone-outbound, .bi-envelope{
        font-size: 13px;
    }
    .socialmedia{
        font-size: 20px;
    }
    li{
        font-size: 20px;
    }
    .showonmobile{
        display: block;
        background-color: #000000;
    }
    .showmobile1{
        display: none
    }
}
@media (max-width: 450px){
    .bi-telephone-outbound, .bi-envelope{
        font-size: 8px;
    }
    li{
        font-size: 12px;
    }
    .showonmobile{
        display: block;
        background-color: #000000;
    }
}